$white-1: #DAD7CD;
$white-2: #f2f0ea;
$lightgreen-1: #A3B18A;
$lightgreen-2: #588157;
$darkgreen-1: #3A5A40;
$darkgreen-2: #344E41;

$default-transition: .25s;

*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    padding: 0;
    background: $white-2;

    h1{
        margin: 1rem 0 1rem 0;
    }

    p{
        margin: 1rem 0 1rem 0;
    }
}

header{
    *{
        // border: solid red 1px;
    }

    display: flex;
    flex-wrap: nowrap;
    margin: 0 .5rem 0 .5rem;

    #logo{
        padding: 0;
        margin: 0;
        height: 3rem;
    }

    div{
        margin: 0 .5rem 0 .5rem;
        vertical-align: center;

        form{
            text-align: center;

            input[type=text] {
                padding: .75rem;
                border: none;
                border-radius: 1rem;
                width: 200px;
                margin: .5rem 0 .5rem 0;
                font-size: 1rem;
            }

            button {
                // background-color: $darkgreen-2;
                background-image: url('/public/assets/images/search2.svg');
                background-color: $lightgreen-1;
                background-size: 75%;
                background-repeat: no-repeat;
                background-position: center;
                padding: 1.4rem;
                border: none;
                border-radius: 1rem;
                vertical-align: middle;
                transition: $default-transition;
            }

            button:hover{
                filter: brightness(90%);
                cursor: pointer;
            }
        }

        a{
            img{
                margin-top: .75rem;
                height: 2rem;
                display: inline;
            }
        }
    }
    .flex-fill{
        flex: 1;
    }

    .icon{
        // $darkgreen-2
        filter: invert(28%) sepia(8%) saturate(1377%) hue-rotate(97deg) brightness(93%) contrast(94%);
        transition: $default-transition;
    }
    .icon:hover{
        // $lightgreen-2
        filter: invert(49%) sepia(24%) saturate(562%) hue-rotate(70deg) brightness(88%) contrast(89%);
    }

    #cart{
        position: relative;
        text-align: center;
        #cart-count{
            font-size: .8rem;
            color: black;
            position: absolute;
            top: 60%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}


nav{
    $nav-background: $lightgreen-1;
    background-color: $nav-background;

    ul{
        list-style-type: none;
        padding: 0;
        margin: 0;
        overflow: hidden;

        li{
            float: left;

            a{
                display: block;
                padding: .5rem 2rem;
                background-color: $nav-background;
                color: black;
                text-decoration: none;
                letter-spacing: .1rem;
                transition: $default-transition;
            }
            a:hover, #current{
                background-color: $darkgreen-1;
                color: $white-2;
            }
        }
    }
}


.main{
    margin: 0 .75rem;
}


footer{
    $background: $lightgreen-2;
    $text: $white-2;

    background-color: $background;
    color: $text;
    padding: .5rem 1rem;

    p{
        text-align: center;
    }

    ul{
        list-style-type: none;
        text-align: center;
        padding: 0;
        margin: 0;
        overflow: hidden;

        li{
            display: inline-block;

            a{
                padding: 0 1.5rem;
                color: $white-1;
            }
            a:hover, #current{
                color: $white-2;
            }
        }
    }
}