@font-face {
  font-family: "OpenSans_Condensed";
  src: url("/public/assets/fonts/OpenSans_Condensed-Bold.ttf");
}
@font-face {
  font-family: "CooperHewitt-Book";
  src: url("/public/assets/fonts/CooperHewitt-Book.otf");
}
@font-face {
  font-family: "PTSans-Regular";
  src: url("/public/assets/fonts/PTSans-Regular.ttf");
}
@media (min-width: 1281px) {
  header {
    width: 80%;
    margin: 0 auto 0 auto;
  }
  main {
    width: 80%;
    margin: 1rem auto 1rem auto;
  }
  nav ul {
    width: 80%;
    margin: 0 auto 0 auto;
  }
  .cart {
    right: 10%;
  }
  #topButton {
    right: 10%;
  }
}
@media (max-width: 1280px) {
  header {
    margin: 0 0.5rem 0 0.5rem;
  }
  main {
    margin: 1rem;
  }
  nav ul {
    margin: 0;
  }
  .cart {
    right: 0;
  }
  #topButton {
    right: 1rem;
  }
}
* {
  margin: 0;
  padding: 0;
}
* .hide {
  display: none;
}

body {
  margin: 0;
  padding: 0;
}
body h1 {
  margin: 0 0 1rem 0;
  font-family: "OpenSans_Condensed", Arial, Helvetica, sans-serif;
}
body h2,
body h3,
body h4,
body h5,
body h6,
body nav ul li a {
  font-family: "CooperHewitt-Book", Arial, Helvetica, sans-serif;
}
body h2 {
  color: #344e41;
}
body h3 {
  color: #344e41;
}
body button,
body input[type=submit] {
  font-weight: bold;
}
body * {
  font-family: "PTSans-Regular", Arial, Helvetica, sans-serif;
}
body p {
  margin: 1rem 0 1rem 0;
}

header {
  display: flex;
  flex-wrap: nowrap;
}
header #logo {
  padding: 0;
  margin: 0;
  height: 3rem;
}
header div {
  margin: 0 0.5rem 0 0.5rem;
  vertical-align: center;
}
header div form {
  text-align: center;
}
header div form input[type=text] {
  margin: 0.5rem 0.1rem 0.5rem 0;
  padding: 0.75rem;
  width: 25%;
  border-radius: 1rem;
  border: none;
  font-size: 1rem;
  background-color: #f2f0ea;
}
header div form button {
  margin-left: 0.1rem;
  background-image: url("/public/assets/images/search2.svg");
  background-color: #a3b18a;
  background-size: 75%;
  background-repeat: no-repeat;
  background-position: center;
  padding: 1.35rem;
  border: none;
  border-radius: 1rem;
  vertical-align: middle;
  transition: 0.25s;
}
header div form button:hover {
  filter: brightness(90%);
  cursor: pointer;
}
header div a img {
  margin-top: 0.75rem;
  height: 2rem;
  display: inline;
}
header .flex-fill {
  flex: 1;
}
header .icon {
  filter: invert(28%) sepia(8%) saturate(1377%) hue-rotate(97deg) brightness(93%) contrast(94%);
  transition: 0.25s;
}
header .icon:hover {
  filter: invert(49%) sepia(24%) saturate(562%) hue-rotate(70deg) brightness(88%) contrast(89%);
}
header #cart {
  position: relative;
  text-align: center;
}
header #cart #cart-count {
  font-size: 0.8rem;
  color: #344e41;
  position: absolute;
  top: 57%;
  left: 50%;
  transform: translate(-50%, -50%);
}

nav {
  background-color: #f2f0ea;
  border-bottom: solid #b7aa8b 1px;
}
nav ul {
  list-style-type: none;
  padding: 0;
  overflow: hidden;
}
nav ul li {
  float: left;
}
nav ul li a {
  display: block;
  padding: 0.75rem 2rem 0.5rem 2rem;
  background-color: #f2f0ea;
  color: #344e41;
  text-decoration: none;
  letter-spacing: 0.1rem;
  transition: 0.25s;
}
nav ul li a:hover,
nav ul li .current {
  background-color: #588157;
  color: #fff;
}

.cart {
  background-color: #f2f0ea;
  position: absolute;
  padding: 0 0.5rem 0 0.5rem;
  border-radius: 0 0 0 0.5rem;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.75);
}
.cart .items .item {
  border-bottom: solid #344e41 1px;
  padding: 0.5rem 0 0.5rem 0;
  display: flex;
  flex-wrap: nowrap;
}
.cart .items .item .image img {
  max-width: 3rem;
  margin-right: 0.25rem;
}
.cart .items .item .main {
  flex: 1;
}
.cart .items .item .main p {
  margin: 0rem;
}
.cart .items .item .main .price {
  display: flex;
  flex-wrap: nowrap;
}
.cart .items .item .main .price .count {
  flex: 1;
}
.cart .items .item .main .price .total {
  text-align: right;
  font-weight: bold;
}
.cart .items .totalPrice p {
  text-align: right;
  font-weight: bold;
}
.cart .items .totalPrice button {
  padding: 0.5rem;
  margin: 0.5rem auto 0.5rem auto;
  font-size: 1rem;
  display: block;
  width: 50%;
  transition: 0.25s;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  background-color: #588157;
  color: white;
}
.cart .items .totalPrice button:hover {
  background-color: #3a5a40;
}

#topButton {
  position: fixed;
  bottom: 1rem;
  font-size: 1rem;
  border: none;
  background-color: #588157;
  color: white;
  cursor: pointer;
  padding: 1rem;
  border-radius: 100%;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.75);
  transition: 0.25s;
}

#topButton:hover {
  background-color: #3a5a40;
}

main .breadcrumb {
  margin: 0;
  color: #b7aa8b;
  font-size: 0.8rem;
}
main .breadcrumb a {
  text-decoration: none;
  color: #b7aa8b;
}
main .breadcrumb a:hover {
  cursor: pointer;
  text-decoration: underline;
}
main .slides-container {
  position: relative;
}
main .slides-container button {
  position: absolute;
  top: 50%;
  padding: 0.5rem;
  font-size: 1rem;
  border: none;
  transition: 0.25s;
  border-radius: 0.5rem;
  cursor: pointer;
  background-color: #588157;
  color: white;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
}
main .slides-container button:hover {
  background-color: #3a5a40;
}
main .slides-container .prev {
  left: 0;
  margin-left: 0.5rem;
}
main .slides-container .next {
  right: 0;
  margin-right: 0.5rem;
}
main .slides-container .slides {
  padding-top: 0.25rem;
  overflow-x: hidden;
  display: flex;
  flex-wrap: nowrap;
}
main .slides-container .slides .slide:first-of-type {
  margin-left: -15rem;
}
main .slides-container .slides .slide {
  margin-left: 0.5rem;
  margin-bottom: 1.5rem;
  padding: 0.5rem;
  background-image: radial-gradient(#f2f0ea, #fff);
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
  border-radius: 0.5rem;
}
main .slides-container .slides .slide img {
  height: 300px;
}
main .about p {
  margin-top: 0;
  margin-left: 0.25rem;
}
main .shopping {
  margin-top: 1rem;
  display: flex;
  flex-wrap: nowrap;
}
main .shopping .filter {
  margin-left: 0.5rem;
  margin-bottom: 1.5rem;
  padding: 0.5rem;
  background-image: radial-gradient(#f2f0ea, #fff);
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
  border-radius: 0.5rem;
  padding: 0.5rem 2rem 1rem 2rem;
  margin-left: 0;
  margin-right: 1rem;
  height: fit-content;
}
main .shopping .filter .sortFilter h3 {
  margin: 0.5rem 0 0.25rem 0;
}
main .shopping .filter .sortFilter label {
  display: block;
}
main .shopping .filter .sortFilter label input[type=radio] {
  margin-top: 0.2rem;
  vertical-align: top;
  height: 1rem;
  aspect-ratio: 1;
  border: 0.125rem solid #a3b18a;
  padding: 0.125rem;
  background: radial-gradient(farthest-side, #009688 94%, rgba(0, 0, 0, 0)) 50%/0 0 no-repeat content-box;
  border-radius: 1rem;
  appearance: none;
  cursor: pointer;
  transition: 0.25s;
}
main .shopping .filter .sortFilter label input[type=radio]:checked {
  border-color: #009688;
  background-size: 100% 100%;
}
main .shopping .items {
  flex: 1;
}
main .shopping .items .top {
  display: flex;
  flex-wrap: nowrap;
}
main .shopping .items .top p {
  flex: 1;
  margin: auto 0;
  padding: 0 0.5rem 0 0;
  text-align: right;
  color: #3a5a40;
}
main .shopping .items .item {
  display: flex;
  flex-wrap: nowrap;
  margin-left: 0.5rem;
  margin-bottom: 1.5rem;
  padding: 0.5rem;
  background-image: radial-gradient(#f2f0ea, #fff);
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
  border-radius: 0.5rem;
}
main .shopping .items .item .image img {
  max-width: 300px;
  border-radius: 0.5rem;
}
main .shopping .items .item .image p {
  margin: 0;
  padding: 0;
  font-size: 0.8rem;
}
main .shopping .items .item .image .color {
  display: flex;
}
main .shopping .items .item .image .color div {
  margin: 0.25rem 0.25rem 0rem 0.25rem;
  padding: 1rem;
  border-radius: 100%;
  cursor: pointer;
}
main .shopping .items .item .image .color .black {
  background-color: black;
  border: solid #344e41 1px;
}
main .shopping .items .item .image .color .white {
  background-color: white;
  border: solid #344e41 1px;
}
main .shopping .items .item .image .color .red {
  background-color: red;
  border: solid #344e41 1px;
}
main .shopping .items .item .main {
  margin: 0 0.5rem 0 0.5rem;
  flex: 1;
}
main .shopping .items .item .main .stars {
  margin: 0;
}
main .shopping .items .item .main ul {
  margin-left: 1.25rem;
}
main .shopping .items .item .side {
  min-width: 6rem;
  padding: 0 0.5rem 0 0.5rem;
  text-align: center;
  border-left: solid #344e41 1px;
}
main .shopping .items .item .side .o-price {
  margin-top: 0;
  text-decoration: line-through;
  color: #a3b18a;
}
main .shopping .items .item .side button {
  padding: 0.5rem;
  margin: 0.25rem 0 0.25rem 0;
  font-size: 1rem;
  display: block;
  border: none;
  width: 100%;
  transition: 0.25s;
  border-radius: 0.5rem;
  cursor: pointer;
}
main .shopping .items .item .side .remove {
  background-color: rgb(197, 46, 66);
  color: white;
}
main .shopping .items .item .side .remove:hover {
  background-color: rgb(155, 47, 87);
}
main .shopping .items .item .side .add {
  background-color: #588157;
  color: white;
}
main .shopping .items .item .side .add:hover {
  background-color: #3a5a40;
}
main .checkout {
  display: flex;
  flex-wrap: nowrap;
}
main .checkout .items {
  padding-right: 1rem;
  border-right: solid #344e41 1px;
}
main .checkout .items table {
  border-collapse: collapse;
}
main .checkout .items table tr td,
main .checkout .items table tr th {
  border-bottom: solid #344e41 1px;
  padding: 0.25rem 0.5rem 0.25rem 0.5rem;
  text-align: center;
}
main .checkout .items table tr th {
  font-size: 1.2rem;
}
main .checkout .items table tr td img {
  max-width: 150px;
}
main .checkout .items table tr .aLeft {
  text-align: left;
}
main .checkout .items table tr .aRight {
  text-align: right;
}
main .checkout form {
  margin-left: 1rem;
  flex: 1;
}
main .checkout form h3 {
  margin: 1rem 0 0.25rem 0;
}
main .checkout form input[type=text],
main .checkout form input[type=email] {
  padding: 0.75rem;
  margin: 0.25rem 0 0.5rem 0;
  font-size: 1rem;
  background-color: #f2f0ea;
  border: solid #344e41 1px;
  outline: none;
}
main .checkout form input[type=text]:disabled {
  background-color: lightgrey;
}
main .checkout form .name {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  margin-top: 0.5rem;
  padding: 0 0.5rem 0 0.5rem;
}
main .checkout form .name .fname {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  flex: 1;
  margin-right: 0.5rem;
}
main .checkout form .name .sname {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  flex: 1;
  margin-left: 0.5rem;
}
main .checkout form .email {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  margin-top: 0.5rem;
  padding: 0 0.5rem 0 0.5rem;
}
main .checkout form .address,
main .checkout form .address2 {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  margin-top: 0.5rem;
  padding: 0 0.5rem 0 0.5rem;
}
main .checkout form .address .line1,
main .checkout form .address .city,
main .checkout form .address2 .line1,
main .checkout form .address2 .city {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  flex: 1;
  margin-right: 0.5rem;
}
main .checkout form .address .line2,
main .checkout form .address .postcode,
main .checkout form .address2 .line2,
main .checkout form .address2 .postcode {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  flex: 1;
  margin-left: 0.5rem;
}
main .checkout form .address3 {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  margin-top: 0.5rem;
  padding: 0 0.5rem 0 0.5rem;
}
main .checkout form .address3 .country {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  flex: 1;
}
main .checkout form .notes {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  margin-top: 0.5rem;
  padding: 0 0.5rem 0 0.5rem;
}
main .checkout form .notes textarea {
  padding: 0.5rem;
  margin-top: 0.25rem;
  resize: vertical;
  background-color: #f2f0ea;
  border: solid #344e41 1px;
}
main .checkout form .required {
  color: red;
  font-weight: bold;
}
main .checkout form .confirm {
  padding: 0 0.5rem;
}
main .checkout form .confirm input[type=submit] {
  display: block;
  margin: 1rem 0 0.25rem 0;
  padding: 0.5rem;
  font-size: 1rem;
  border: none;
  transition: 0.25s;
  cursor: pointer;
  background-color: #588157;
  color: white;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.75);
}
main .checkout form .confirm input[type=submit]:hover {
  background-color: #3a5a40;
}
main .supportForm {
  margin-left: 1rem;
  flex: 1;
}
main .supportForm input[type=text],
main .supportForm input[type=email] {
  padding: 0.75rem;
  margin: 0.25rem 0 0.5rem 0;
  font-size: 1rem;
  background-color: #f2f0ea;
  border: solid #344e41 1px;
  outline: none;
}
main .supportForm .name {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  margin-top: 0.5rem;
  padding: 0 0.5rem 0 0.5rem;
}
main .supportForm .name .fname {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  flex: 1;
  margin-right: 0.5rem;
}
main .supportForm .name .sname {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  flex: 1;
  margin-left: 0.5rem;
}
main .supportForm .email {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  margin-top: 0.5rem;
  padding: 0 0.5rem 0 0.5rem;
}
main .supportForm .enquiry {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  margin-top: 0.5rem;
  padding: 0 0.5rem 0 0.5rem;
}
main .supportForm .enquiry textarea {
  margin-top: 0.25rem;
  padding: 0.5rem;
  resize: vertical;
  background-color: #f2f0ea;
  border: solid #344e41 1px;
}
main .supportForm h2 {
  margin: 1rem 0 0.25rem 0;
}
main .supportForm .required {
  color: red;
  font-weight: bold;
}
main .supportForm .confirm {
  padding: 0 0.5rem;
}
main .supportForm .confirm input[type=submit] {
  display: block;
  margin: 1rem 0 0.25rem 0;
  padding: 0.5rem 2rem;
  font-size: 1rem;
  border: none;
  transition: 0.25s;
  cursor: pointer;
  background-color: #588157;
  color: white;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.75);
}
main .supportForm .confirm input[type=submit]:hover {
  background-color: #3a5a40;
}

footer {
  background-color: #dad7cd;
  color: black;
  padding: 0.5rem 1rem;
}
footer p {
  text-align: center;
}
footer ul {
  list-style-type: none;
  text-align: center;
  padding: 0;
  margin: 0;
  overflow: hidden;
}
footer ul li {
  display: inline-block;
}
footer ul li a {
  padding: 0 1.5rem;
  color: #3a5a40;
}
footer ul li a:hover,
footer ul li .current {
  color: black;
}

/*# sourceMappingURL=main.css.map */
